@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  .checkbox{
    position:relative;
    border:solid 2px #00ffab;
    border-radius: 0.125rem;
    width: 1.5rem;
    height:1.5rem;
    cursor:pointer;
  }
  .checkbox_is_checked{
    background-color:#00ffab;
  }
  .checkbox_is_checked::after{
    content:"";
    position:absolute;
    top:0;
    left:25%;
    width:50%;
    height: 83.333333%;
    border-right:solid 4px #fefefe;
    border-bottom:solid 4px #fefefe;
    transform:rotate(45deg);
  }

  .button{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.375rem;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    cursor:pointer;
  }


  h1 {
   font-size:2.5rem;
  }
  h2 {
    font-size:2.25rem;
  }
  h3 {
    font-size:2rem;
  }

  h4 {
    font-size:1.75rem;
  }

  h5 {
    font-size:1.5rem;
  }

  h6 {
    font-size:1.25rem;
  }

  .reactMarkDown ul {
    margin-top: 1em;
    margin-bottom: 1em;
    list-style: disc outside none;
  }

  .reactMarkDown ul li {
    margin-left: 2em;
    display: list-item;
    text-align: -webkit-match-parent;
  }


  pre{
    background-color:#dddddd;
    padding:10px;
  }

}
